.App {
  text-align: center;
  display: flex;
 background: rgba(221, 221, 221, 0.5);
  padding: 3rem 10rem;
}


.TabMenu{




flex-grow: 1;
  border:1px solid rgba(0,0,0,.05);
  padding: 3rem;
  display: flex;
 flex-direction: column;
  color: #8E8E8E;
  background: white;
  box-sizing: border-box;
  
}
.TabMenu:nth-child(1){
  background: #FFFFFF;
  border-top: 2px solid #8CDC52;
  color:#8CDC52;
  box-shadow: 0px 3px 3px rgba(0,0,0,.3)
}
